/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require 'masonry/basic'
*= require 'mdb'
*= require 'fab'
*= require 'masonry/gutters'
*= require dropzone/basic
*= require dropzone/dropzone
*= require 'masonry/infinitescroll'
*= require 'masonry/right-to-left'
*= require 'masonry/transitions'
*= require easy-autocomplete
*= require easy-autocomplete.themes
*= require_tree .
*= require_self
*/


@import "masonry/fluid";
@import "material";


html {
    font-size: 12px;
  }
  
  body {
    color: #283c46;
    background-color: #ffffff;
    line-height: 1.5;
    margin-top: 0;
    font-size: 1.7rem;
  }
  

  
  .dropzone {
    background: #f4f4f4 !important;
    border: none !important;
    font-size: 2.5rem;
    font-weight: 700;
  }