// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message {
    background-color: yellow;
    border-bottom-right-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    padding: 2px 5px;
  }
  
  div.field_with_errors div.ui-effects-wrapper {
    display: inline-block !important;
  }