
<nav>

  <ul class="twitter " role="navigation">
    <li><i class="fa fa-home"></i>Home</li>
   <li><i class=" fa fa-envelope"></i><span>1 </span><span>Chats & Notifcations </span>

    </li>

   <li class="nav-item">
     
        </li>
   
      <li><i> <%= link_to image_tag('postadd_small'), new_classified_path %></i><span>Post Add</span>

    </li>
  

     <ul class="navbar-nav ml-auto nav-flex-icons">



  <% if user_signed_in? %>
      <li class="nav-item avatar">
        <a class="nav-link p-0" href="#">
          <%= photo_avatar(current_user, class: 'rounded-circle z-depth-0 ', style: 'width:30px;height:30px;') %>
              <i> <strong><%= current_user.username %></strong> </i>
        </a>
      </li>

      
    </ul>
      <% end %>
   
  </ul>

  

         </ul>

</nav>





  
