
<!------ Include the above in your HEAD tag ---------->

<!--
  <div class="row justify-content-md-center">
 <div id="imaginary_container"> 


    <%= form_with url: search_path, local: true, method: :get, html: { class: "form-inline col-xl" } do |form| %>
      <%= form.text_field :q, placeholder: "Search", data: { behavior: "autocomplete" }, class: "form-control col-xl" %>
      <%= form.submit "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
    <% end %>

</div>
</div>  
-->
